/* ============================================
   LAYOUT STYLES
   ============================================ */

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.app-container {
    width: 100%;
    max-width: 480px;
    padding: 2rem 1rem;
}

/* Changes/New Additions */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;

    /* RADIAL GRADIENT: Light starts at Top-Right (100% 0%) */
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--deep-navy) 100% /* Soft finish at the bottom-left */
    ) !important;

    color: var(--foreground);
}

/* some help in some pages */
.detail-inline {
    display: flex;
    flex-direction: row;
    gap: 8.5rem;
}

@media (min-width: 768px) {
    .detail-inline {
        display: flex;
        flex-direction: row;
        gap: 11rem;
    }
}

.pencil-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.save-cancel-layout {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;

}

.glass-container-host {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--glass-blue) 100% /* Soft finish at the bottom-left */
    ) !important;
    color: var(--foreground);
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
}

.glass-container-host-end {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--glass-blue) 100% /* Soft finish at the bottom-left */
    ) !important;
    color: var(--foreground);
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
}

.glass-container-gamepage {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--glass-blue) 100% /* Soft finish at the bottom-left */
    ) !important;
    color: var(--foreground);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.scrollable-player {
    max-height: 300px;
    overflow-y: auto;
    backdrop-filter: blur(70px);
    border-radius: 0.75rem;
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--glass-blue) 100% /* Soft finish at the bottom-left */
    ) !important;
    padding: 0.5rem 0.5rem 0.75rem 0.75rem;
}

.glass-container {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background: radial-gradient(
            ellipse 100% 70% at 100% 0%,
            var(--glow-smoky) 10%, /* Spreads the brightness to half the page */ var(--glass-blue) 100% /* Soft finish at the bottom-left */
    ) !important;
    color: var(--foreground);
}
